# SPDX-License-Identifier: MIT

if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Sofle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE
    default y

config ZMK_BLE
    default y

config ZMK_USB
    default y

# OLED Display Configuration
config DISPLAY
    default y

config SSD1306
    default y

config I2C
    default y

# Increase BLE signal strength
config BT_CTLR_TX_PWR_PLUS_8
    default y

# Battery reporting
config ZMK_BATTERY_REPORTING
    default y

# RGB Underglow (disable for better battery life)
config RGBLED
    # default n

endif
