# SPDX-License-Identifier: MIT

menu "Sofle Shield"

config SHIELD_SOFLE
    bool "Sofle Wireless Shield"
    depends on BOARD_NICE_NANO_V2
    select ZMK_KEYBOARD_CUSTOM
    help
      Enable support for the Sofle split keyboard (with nice!nano v2).

endmenu

