if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Sofle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_USB
    default y

config ZMK_DISPLAY
    default y

config ZMK_BATTERY_REPORTING
    default y

# Remove the RGBLED line completely - we'll control RGB through sofle.conf instead
# config RGBLED
#    default n

endif
