# SPDX-License-Identifier: MIT

# This sets default config for the left half (central) side.

if SHIELD_SOFLE_LEFT

config ZMK_KEYBOARD_NAME
    default "Sofle"

# Mark it as a split keyboard (central half).
config ZMK_SPLIT
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    default y

# BLE + USB dual mode
config ZMK_BLE
    default y
config ZMK_USB
    default y

# Increase BLE transmit power
config BT_CTLR_TX_PWR_PLUS_8
    default y

# Battery info from the central side
config ZMK_BATTERY_REPORTING
    default y
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

# Display
config ZMK_DISPLAY
    default y

endif
