
# SPDX-License-Identifier: MIT

menu "Sofle Left Shield"

config SHIELD_SOFLE_LEFT
    bool "Sofle Left"
    depends on BOARD_NICE_NANO_V2
    select ZMK_KEYBOARD_CUSTOM
    help
      Enable support for the left (central) half of a Sofle split on nice!nano v2.

endmenu
