
# SPDX-License-Identifier: MIT

if SHIELD_SOFLE_RIGHT

config ZMK_KEYBOARD_NAME
    string
    default "Sofle Right"

config ZMK_SPLIT
    bool
    default y

# Mark it as the peripheral half
config ZMK_SPLIT_ROLE_PERIPHERAL
    bool
    default y

# Typically, the peripheral half doesn't need BLE advertising, 
# but must still build with SPLIT + BLE if you do real wireless communication between halves.
config ZMK_BLE
    bool
    default y

# If you have a display on the right side as well:
config ZMK_DISPLAY
    bool
    default y

config ZMK_NICE_VIEW_DISPLAY
    bool
    default y

# If your right half also has underglow
config ZMK_RGB_UNDERGLOW
    bool
    default y

config ZMK_RGB_UNDERGLOW_WS2812
    bool
    default y

config ZMK_RGB_UNDERGLOW_COUNT
    int
    default 30

config ZMK_RGB_UNDERGLOW_SPEED
    bool
    default y

config ZMK_RGB_UNDERGLOW_EFFECT_RANGE
    bool
    default y

config ZMK_BEHAVIOR_ROTARY_ENCODER
    bool
    default y

endif # SHIELD_SOFLE_RIGHT
