# SPDX-License-Identifier: MIT

menu "Sofle Right Shield"

config SHIELD_SOFLE_RIGHT
    bool "Sofle Right"
    depends on BOARD_NICE_NANO_V2
    select ZMK_KEYBOARD_CUSTOM
    help
      Enable support for the right (peripheral) half of a Sofle split on nice!nano v2.

endmenu
