# SPDX-License-Identifier: MIT

# This sets defaults for the right half (peripheral) side.

if SHIELD_SOFLE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Sofle"

config ZMK_SPLIT
    default y
config ZMK_SPLIT_ROLE_PERIPHERAL
    default y

config ZMK_BLE
    default y
config ZMK_USB
    default y

# Increase BLE transmit power on the peripheral side too.
config BT_CTLR_TX_PWR_PLUS_8
    default y

# Peripheral side typically doesn't do battery fetching or proxy,
# but we can still enable battery reporting if the hardware is the same.
config ZMK_BATTERY_REPORTING
    default y

# If you have an OLED or other display on the right side, enable:
config ZMK_DISPLAY
    default y

endif
